:root{   /*root css created for code reusablitity and coding efficiency*/
    --bgcolor: #50C878;
    --navtexcolor:#007FFF;
    --sec-color:#DCFFE3;
    --dvert:#17B169;
    --newsbg:#000080;
}
.shop-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap:8px;
    height: 90vh;
    margin-bottom: 100%;
}
hr{
    color:var(--dvert);
}

span{
    color: var(--dvert);
}

h1{
    display: flex;
    justify-content: center;
    color:#171717;
    font-size: 50px;
    font-weight:400;
}

hr{
    width: 175px;
    height: 0.5px;
    border-radius: 10px;
    background: #252525;
}