:root{   /*root css created for code reusablitity and coding efficiency*/
    --bgcolor: #50C878;
    --navtexcolor:#007FFF;
    --sec-color:#DCFFE3;
    --dvert:#17B169;
    --newsbg:#000080;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 60px;
    box-shadow:0 1px 3px -2px #000;
    margin-bottom: 1px;
    background-color: var(--bgcolor);
}

.nav-logo{
    width:150px;
    height:25%;
}

@media(max-width:800px){
    .navbar{
        padding:15px 30px;
    }
    .nav-logo{
        width:150px;
    }
    .profile{
        width:60px;
    }
}